$background-color: #21201d;

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

nav {
    background-color: $background-color;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

nav {
    ul {
        li {
            display: inline-block;
            margin-right: 5vw;
            margin-left: 10vw;
        }
    }
}

nav {
    ul {
        li {
            a {
                color: white;
                font-size: 19px;
                text-transform: capitalize;
            }
        }
    }
}

.links:hover {
    color: rgb(175, 161, 161);
}

#main-page {
    background-color: bisque;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-page {
    h1 {
        color: $background-color;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 65px;
        margin-bottom: 4vh;
    }
}

#main-page {
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-field {
    padding: 20px;
    width: 40vw;
    margin-bottom: 4vh;
    border: 1.5px solid black;
    border-radius: 10px;
}

#button {
    padding: 14px;
    font-size: 30px;
    color: white;
    border: none;
    background-color: chocolate;
    border-radius: 15px;
    text-transform: capitalize;
    margin-bottom: 2vh;
}

#button:hover {
    background-color: rgb(192, 96, 27);
}

@media (max-width:700px) {
    nav {
        justify-content: center;
    }
}

@media (max-width:345px) {
    nav {
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        ul {
            li {
                margin: 5vw;
            }
        }
    }
}

// responsive side
@media (max-width: 430px) {
    #main-page {
        h1 {
            font-size: 30px;
            margin-bottom: 4vh;
        }
    }

    #search-field {
        padding: 10px;
        width: 35vh;
    }

    #button {
        padding: 9px;
        font-size: 15px;
    }
}